{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Current start</th>
            <th>Previous start</th>
            <th>Previous end</th>
        </tr>
        <tbody>
            <tr>
                <td>
                    <p>{{ emission.currentStart }}</p>
                </td>
                <td>
                    <p>{{ emission.previousEnd }}</p>
                </td>
                <td>
                    <p>{{ emission.previousEnd }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}