{% extends 'layout.html' %}
{% block content %}
    {% for emission in emissions %}
    <div class="container">
        {% if emission.region.id == "EU" or emission.region.id == "RU" %}
        {% set imgClass = "bi bi-globe-europe-africa" %}
        {% elif emission.region.id == "NA" %}
        {% set imgClass = "bi bi-globe-americas" %}
        {% elif emission.region.id == "SEA" %}
        {% set imgClass = "bi bi-globe-central-south-asia" %}
        {% endif %}
        <h3><i class="{{ imgClass }}"></i> {{ emission.region.id }}</h3>
        <table class="table table-bordered">
            <tr>
                <th>Current start</th>
                <th>Previous start</th>
                <th>Previous end</th>
            </tr>
            <tbody>
                <tr>
                    <td>
                        <p>{{ emission.emissionData.currentStart }}</p>
                    </td>
                    <td>
                        <p>{{ emission.emissionData.previousEnd }}</p>
                    </td>
                    <td>
                        <p>{{ emission.emissionData.previousEnd }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
{% endblock %}